body {
  	text-align: center;
  	color: white;
}
.nav {
    display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-around;
  	margin: 50px;
  	padding: 5px;
  	background-color: white;
 
}
.nav img {
  	width: 100%;
  	min-width: auto;
  	max-width: 200px;
}

img {
	padding: 5px;
}
@media screen and (max-width: 420px) {
  .nav {
    	flex-direction: column;
    	flex-wrap: nowrap;
  }
}
    
a {
    	color: black;
    	text-decoration: none;
}
.content {
	background-color: rgb(171, 171, 171, 0.6);
	height: auto;
}
